<p style="color: green"><%= notice %></p>

<h1>Public Recipies</h1>

<div class="public_recipies" id="public_recipies">
  <%= link_to "public_recipe", public_recipies_path, class: "public_recipe" %>
    <table class="table-auto">
      <thead>
        <tr>
          <th title="public_recipe">public_recipe</th>
          <th>Total food items:</th>
          <th>Total price:</th>
        </tr>
      </thead>
      <tbody>
      <% @public_recipies.each do |public_recipe| %>
        <tr>
          <td><%= link_to public_recipe.recipe_name, public_recipe %></td>
          <td><%= public_recipe.food_item %></td>
          <td><%= public_recipe.total_price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>