<div id="<%= dom_id recipy %>">
  <p>
    <strong>Name:</strong>
    <%= recipy.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipy.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipy.cooking_time %>
  </p>

    <p>
    <strong>Description:</strong>
    <%= recipy.description %>
  </p>

</div>
