<p style="color: green"><%= notice %></p>

<%= render @recipy %>

<div>
  <%= link_to "Edit this recipy", edit_food_path(@recipy) %> |
  <%= link_to "Back to recipies", recipies_path %>

  <%= button_to "Destroy this recipy", @recipy, method: :delete %>
</div>
