<p style="color: green"><%= notice %></p>

<h1>Shopping Lists</h1>

<div class="shopping_lists" id="shopping_lists">
  <%= link_to "New shopping_list", new_shopping_list_path, class: "new-shopping_list" %>
    <table class="table-auto">
      <thead>
        <tr>
          <th title="shopping_list">shopping_list</th>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @shopping_lists.each do |shopping_list| %>
        <tr>
          <td><%= link_to shopping_list.food, shopping_list ,class: 'fs-4 text-decoration-none text-capitalize text-wrap"'%></td>
          <td><%= shopping_list.quantity %></td>
          <td>$<%= shopping_list.price %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
